<a href="https://colab.research.google.com/github/sjahnavia/wta-tennis/blob/main/wta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('/content/wta_matches_2000.csv')

In [4]:
data.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank,loser_rank_points,score,best_of,round
0,2000-W-SL-AUS-01A-2000,Australian Open,Hard,128,G,20000117,1,200001,1.0,NaN,...,Mirjana Lucic,R,NaN,CRO,17.859001,49.0,640.0,6-1 6-2,3,R128
1,2000-W-SL-AUS-01A-2000,Australian Open,Hard,128,G,20000117,2,200003,NaN,NaN,...,Kerry Anne Guse,R,NaN,AUS,27.118412,133.0,199.0,6-4 6-2,3,R128
2,2000-W-SL-AUS-01A-2000,Australian Open,Hard,128,G,20000117,3,200006,NaN,NaN,...,Jolene Watanabe Giltz,R,NaN,USA,31.378508,118.0,243.0,6-0 6-1,3,R128
3,2000-W-SL-AUS-01A-2000,Australian Open,Hard,128,G,20000117,4,200008,NaN,NaN,...,Silvija Talaja,R,NaN,CRO,22.006845,23.0,1112.0,6-1 5-7 7-5,3,R128
4,2000-W-SL-AUS-01A-2000,Australian Open,Hard,128,G,20000117,5,200009,NaN,NaN,...,Rita Grande,R,NaN,ITA,24.821355,60.0,516.0,6-3 6-4,3,R128

In [5]:
data.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank,loser_rank_points,score,best_of,round
2888,2000-D214,Fed Cup G2 RRB: SRI vs SYR,Hard,4,D,20000426,2,208378,NaN,NaN,...,Farah Dayoub,NaN,NaN,SYR,24.887064,NaN,NaN,6-3 6-1,3,RR
2889,2000-D215,Fed Cup G1 RRB: SIN vs TPE,Hard,4,D,20000425,1,207247,NaN,NaN,...,Tina Jacob,NaN,NaN,SIN,14.882957,NaN,NaN,6-1 6-2,3,RR
2890,2000-D215,Fed Cup G1 RRB: SIN vs TPE,Hard,4,D,20000425,2,200091,NaN,NaN,...,Yik Hui Leow,NaN,NaN,SIN,16.114990,NaN,NaN,6-1 6-0,3,RR
2891,2000-D216,Fed Cup G2 RRA: POC vs UZB,Hard,4,D,20000425,1,204169,NaN,NaN,...,Davilyn Godinet,NaN,NaN,POC,16.873374,NaN,NaN,6-3 6-1,3,RR
2892,2000-D216,Fed Cup G2 RRA: POC vs UZB,Hard,4,D,20000425,2,201204,NaN,NaN,...,Tagifano Soonalole,U,NaN,SAM,22.132786,NaN,NaN,6-3 6-2,3,RR

In [6]:
data.tail(5)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank,loser_rank_points,score,best_of,round
2888,2000-D214,Fed Cup G2 RRB: SRI vs SYR,Hard,4,D,20000426,2,208378,NaN,NaN,...,Farah Dayoub,NaN,NaN,SYR,24.887064,NaN,NaN,6-3 6-1,3,RR
2889,2000-D215,Fed Cup G1 RRB: SIN vs TPE,Hard,4,D,20000425,1,207247,NaN,NaN,...,Tina Jacob,NaN,NaN,SIN,14.882957,NaN,NaN,6-1 6-2,3,RR
2890,2000-D215,Fed Cup G1 RRB: SIN vs TPE,Hard,4,D,20000425,2,200091,NaN,NaN,...,Yik Hui Leow,NaN,NaN,SIN,16.114990,NaN,NaN,6-1 6-0,3,RR
2891,2000-D216,Fed Cup G2 RRA: POC vs UZB,Hard,4,D,20000425,1,204169,NaN,NaN,...,Davilyn Godinet,NaN,NaN,POC,16.873374,NaN,NaN,6-3 6-1,3,RR
2892,2000-D216,Fed Cup G2 RRA: POC vs UZB,Hard,4,D,20000425,2,201204,NaN,NaN,...,Tagifano Soonalole,U,NaN,SAM,22.132786,NaN,NaN,6-3 6-2,3,RR

In [7]:
data.isnull().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1759
winner_entry          2576
winner_name              0
winner_hand             74
winner_ht             1866
winner_ioc               0
winner_age               0
winner_rank            184
winner_rank_points     184
loser_id                 0
loser_seed            2338
loser_entry           2339
loser_name               0
loser_hand             169
loser_ht              2250
loser_ioc                0
loser_age                0
loser_rank             291
loser_rank_points      291
score                    0
best_of                  0
round                    0
dtype: int64

In [9]:
data.shape

(2893, 30)

In [10]:
data.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,winner_rank,winner_rank_points,loser_id,loser_seed,loser_ht,loser_age,loser_rank,loser_rank_points,best_of
count,2893.000000,2.893000e+03,2893.000000,2893.000000,1134.000000,1027.000000,2893.000000,2709.000000,2709.000000,2893.000000,555.000000,643.000000,2893.000000,2602.000000,2602.000000,2893.000000
mean,50.475631,2.000055e+07,25.164535,200883.731766,5.659612,172.361246,23.142726,86.466593,1134.478774,201347.397166,6.774775,171.219285,22.964686,110.169485,695.774020,3.006222
std,41.046778,2.810468e+02,27.730224,2275.260223,4.439911,7.250931,3.683128,135.094086,1295.358702,3077.534016,4.909073,6.517420,3.682354,150.070943,748.907762,0.111398
min,4.000000,2.000010e+07,1.000000,200001.000000,1.000000,156.000000,14.203970,1.000000,2.000000,200001.000000,1.000000,156.000000,14.132786,1.000000,2.000000,3.000000
25%,28.000000,2.000032e+07,5.000000,200048.000000,2.000000,168.000000,20.161533,17.000000,344.000000,200052.000000,3.000000,168.000000,20.295688,33.000000,270.000000,3.000000
50%,32.000000,2.000052e+07,17.000000,200090.000000,5.000000,170.000000,23.397673,43.000000,712.000000,200097.000000,6.000000,170.000000,23.071869,65.000000,505.000000,3.000000
75%,64.000000,2.000073e+07,30.000000,200653.000000,8.000000,176.000000,25.774127,90.000000,1405.000000,200768.000000,8.000000,175.000000,25.407255,111.000000,859.500000,3.000000
max,128.000000,2.000112e+07,127.000000,212746.000000,32.000000,189.000000,39.813826,953.000000,6145.000000,212746.000000,32.000000,189.000000,39.813826,987.000000,6145.000000,5.000000